*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #090b1a;
    font-family: 'Inter', sans-serif;
    color: white;
    max-width: 1024px;
}

.container{
    width: 75%;
    height: 71%;
    background-color: #1a1938;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
}   

.content1{    
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 10%;
}

.content1, .content2, .softviolet, .darkblue{
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.content2{
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.softviolet{
    background-color: hsla(277, 100%, 50%, 0.4);
    z-index: 1;
    position: absolute;
    right: 0;
}

.darkblue{
    background-color: hsla(244, 38%, 16%, 0.315);
    z-index: 2;
    position: absolute;
    right: 0;
}

.title{
    font-size: 3.39rem;
}

.title span{
    color: #af59df;
}

.text{
    font-size: 1.5rem;
    color: hsla(0, 0%, 100%, 0.7);
    margin-top: 3rem;
    line-height: 2.3rem;
}

.number{
    font-weight: 700;
    font-size: 2.3rem;
}


.subtitles{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    display: flex;
    font-weight: 400;
    margin-top: 0.6rem;
    text-transform: uppercase;
}

.bottom-part{
    display: flex;
    justify-content: space-between;
    margin-top: 7.5rem;
}

footer{
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
}

footer a{
    text-decoration:underline;
    color: hsl(216, 22%, 47%);
}

@media (min-width: 1580px) {
    html{
        font-size: 100%;
    }
    
}

@media (min-width: 1366px) {
    html{
        font-size: 70%;
    }
    
}

@media (max-width: 1218px) {
    html{
        font-size: 50%;
    }
}

@media (max-width: 980px) {
    html{
        font-size: 45%;
    }
}

@media (max-width: 695px) {
    .container{
        width: 75%;
        height: 90%;
        flex-direction: column-reverse;
    }  

    .content1{
        text-align: center;
        padding: 6%;
    }
    
    .content1, .content2, .softviolet, .darkblue{
        width: 100%;
        height: 50%;
        border-radius: 10px 10px 0 0;
    }
 
    .content2{
        background-image: url(./images/image-header-mobile.jpg);
        background-position: top;
    }

    .bottom-part{
        display: inline-flex ;
        margin-top: 5rem;
        width: 70%;
    }
}

@media (max-width: 414px){
    html{
        font-size: 50%;
    }
    body{
        display: block;
        height: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 80%;
        height: 80%;
        position: static;
        transform: translate(0,0);        
    } 
   .content1{
        height: 70%;
        padding: 6.5%;
    }

    .content2, .softviolet, .darkblue{
        height: 30%;
    }
    .text{
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .bottom-part{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        width: 100%;
        align-items: center;
    }
    .number{
        margin-bottom: 3rem;
    }
    footer{
        position: absolute;
        top: 2px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
    }
    
}